.link {
  text-decoration: none;
  color: #757575;
}
.active-link {
  text-decoration: none;
  color: #2196f3;
  font-weight: 500;
  font-style: normal;
  line-height: auto;
}
.nav-link {
  text-decoration: none;
  color: #212121;
  font-weight: 500;
  font-style: normal;
  line-height: auto;
}
.footer-link {
  text-decoration: none;
  color: #ffffff;
  font-weight: 400;
  font-style: normal;
  line-height: 1.7;
}
.link:hover,
.link:focus,
.footer-link:hover,
.footer-link.focus,
.nav-link:hover,
.nav-link:focus,
.active-link:hover,
.active-link:focus {
  color: #2196f3;
  cursor: pointer;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #757575;
  background-color: #fff;
}
.order {
  background-color: #2f303a;
  padding-left: 226px;
  padding-top: 140px;
  padding-right: 226px;
  padding-bottom: 140px;
  text-align: center;
}
.catchphrase {
  font-size: 44px;
  color: #fff;
}
.headline {
  font-size: 36px;
  color: #212121;
  text-align: center;
}
.logo {
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  color: #fff;
  font-style: normal;
  font-weight: bold;
  line-height: auto;
}
.header-logo {
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  color: #212121;
  font-weight: bold;
  line-height: auto;
}
.button {
  color: #212121;
  background-color: #f5f4fa;
  border: none;
  padding: 5px;
}
.active-button,
.button:hover,
.button:focus {
  color: #fff;
  background-color: #2196f3;
  border: none;
  cursor: pointer;
  padding: 5px;
}
.list {
  list-style: none;
}
.footer {
  color: #ffffff;
  font-size: 14px;
  font-style: normal;
  background-color: #2f303a;
  padding: 10;
}

.blue-web {
  color: #2196f3;
}

.title {
  color: #212121;
  font-weight: 700;
  font-size: 14px;
}
.description {
  font-size: 14px;
  line-height: 1.714;
}
.tm-name {
  color: #212121;
  font-size: 16px;
  font-weight: 500;
}
.tm-role {
  font-size: 16px;
}
.project-name {
  color: #212121;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
}
.project-type {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.875;
}
